:root {
	--title-fontfamily: 'Montserrat', sans-serif;
	--universal-fontfamily: 'Poppins', sans-serif;
	--white-color: #fff;
	--light-blue: #377dff;
	--dark-black: #ffffff21;
	--footer-lightingblue: #233142;
	--how-black: #141d28;
	--dark-blue: #233142;
	--header-bg: #0c1117;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--title-fontfamilywrrr);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0%;
	color: var(--white-color);
	background-color: var(--dark-blue);
}

.container {
	max-width: 1095px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	font-family: var(--universal-fontfamily);
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0%;
	border: 2px solid transparent;
	color: var(--white-color);
	background-color: var(--light-blue);
	padding: 17px 37px;
	border-radius: 37px;
	transition: all 0.4s ease;
}

.btn:hover {
	border: 2px solid var(--light-blue);
	background-color: transparent;
	cursor: pointer;
}

.btn:active {
	opacity: 0.6;
}

.btn-active {
	margin-left: 14px;
	background-color: transparent;
	border: 2px solid var(--light-blue);
	font-family: Poppins;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0%;
}

.btn-active:hover {
	background-color: var(--light-blue);
}

.site-header__top {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--footer-lightingblue);
}

.site-header__top-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__tel {
	color: var(--white-color);
}

.site-header__socials {
	display: flex;
	align-items: center;
}

.site-header__socials-item:not(:last-child) {
	margin-right: 16px;
}

.site-header__socials-link svg {
	color: var(--white-color);
}

.site-header__bottom {
	background-color: var(--header-bg);
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.site-logo {
	display: flex;
	margin-right: auto;
	transition: all 0.4s ease;
}

.site-logo:hover {
	transform: scale(1.2);
}

.site-logo:active {
	opacity: 0.6;
}

.site-header__list {
	display: flex;
	align-items: center;
}

.site-header__item:not(:last-child) {
	margin-right: 62px;
}

.site-header__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 0.99;
	letter-spacing: 0.8px;
	color: var(--white-color);
	padding-bottom: 4px;
	transition: all 0.4s ease;
}

.site-header__link:hover {
	border-bottom: 1px solid var(--light-blue);
	color: var(--light-blue);
	transform: translateY(-10px);
}

.site-header__link:active {
	opacity: 0.6;
}

.hero {
	padding-top: 32px;
	padding-bottom: 129px;
	background-image: url(../images/hero/Bunisuse.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero_cointainer {
	display: flex;
	align-items: center;
}

.hero_info {
	min-width: 666px;
	width: 100%;
	margin-right: 20px;
}

.hero_info-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 31px;
}

.hero_info-title3 {
	font-weight: 400;
	font-size: 140px;
	line-height: 180px;
	letter-spacing: 0%;
	color: rgba(255, 255, 255, 0.13);
	margin-right: 25px;
}

.hero_info-line {
	width: 3px;
	height: 130px;
	background-color: var(--light-blue);
	margin-right: 25px;
}

.hero_info-title {
	font-family: var(--title-fontfamily);
	font-weight: 400;
	font-size: 50px;
	line-height: 110px;
	letter-spacing: 0%;
}

.hero__text {
	margin-bottom: 59px;
}

.hero_info-title span {
	color: var(--light-blue);
}

.hero__img {
	right: 0;
}

.top-list {
	color: var(--how-black);
	text-align: center;
}

.top-list span {
	color: var(--light-blue);
}
.pic-head {
	display: flex;
	align-items: center;
	margin: 42px;
}
.pic-item {
	margin-right: 53px;
	margin-right: 53px;
}
.pic-item1 {
	margin-right: 53px;
}

p {
	color: var(--how-black);
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 0%;
	text-transform: capitalize;
}
