:root {
	--title-fontfamily: 'Montserrat', sans-serif;
	--universal-fontfamily: 'Poppins', sans-serif;
	--white-color: #fff;
	--light-blue: #377dff;
	--dark-black: #ffffff21;
	--footer-lightingblue: #233142;
	--how-black: #141d28;
	--header-bg: #0c1117;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--title-fontfamilywrrr);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0%;
	color: var(--white-color);
}

.container {
	max-width: 1095px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}


.site-header__top {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--footer-lightingblue);
}

.site-header__top-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__tel {
	color: var(--white-color);
}

.site-header__socials {
	display: flex;
	align-items: center;
}

.site-header__socials-item:not(:last-child) {
	margin-right: 16px;
}

.site-header__socials-link svg {
	color: var(--white-color);
}

.site-header__bottom {
  background-color: var(--header-bg);
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-header__container {
  
}
.site-header__list {
}
.site-header__item {
}
.site-header__link {
}

.top-list {
	color: var(--how-black);
	text-align: center;
}

.top-list span {
	color: var(--light-blue);
}
.pic-head {
	display: flex;
	align-items: center;
	margin: 42px;
}
.pic-item {
	margin-right: 53px;
	margin-right: 53px;
}
.pic-item1 {
	margin-right: 53px;
}

p {
	color: var(--how-black);
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 0%;
	text-transform: capitalize;
}
